# Backup directories
.dotfiles_backup/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~

# Zsh
.zcompdump*
.zsh_history
.zsh_sessions

# Homebrew
Brewfile.lock.json

# Logs and databases
*.log
*.sqlite
